body {
    background-color: darkgray;
    padding: 100px;
}

.mosaic {
    height: 100vh;
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.box {
    flex-grow: 1;
    background-color: white;
    min-width: 50px;
    min-height: 50px;
    margin-bottom: 5px;
    margin-right: 5px;
    box-shadow: 5px 5px 5px 0px black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.black {
    background-color: #000;
}

.double {
    flex-grow: 2;
}

.triple {
    flex-grow: 3;
}