            @media screen and (max-width: 440px) {
                /* Mobile Screens */
                .show-for-desktop {
                    display: none;
                }
            }
            
            @media screen and (min-width: 440px) {
                /* desktop Screens */
                .show-for-mobile {
                    display: none;
                }
            }
            
            body {
                box-sizing: border-box;
                margin: 0;
            }
            
            a {
                color: white;
                text-decoration: none;
            }
            
            a:hover {
                color: lightskyblue;
            }
            
            .navigation {
                display: flex;
                background-color: darkslategray;
                padding: 10px;
                justify-content: space-between;
                width: 100%;
            }
            
            .menu {
                display: flex;
            }
            
            .menu>li {
                margin-right: 10px;
            }
            
            .menu>li:last-child {
                margin-right: 0;
            }
            
            .container {
                display: flex;
                align-items: stretch;
            }
            
            .panel1 {
                font-size: 40px;
                text-align: center;
                order: 1;
                flex-grow: 2;
                padding: 30px;
                border-bottom: 3px solid black;
            }
            
            .middle-container p {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: stretch;
                flex-wrap: wrap;
                font-size: 30px;
                text-align: center;
            }
            
            .panel2 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: stretch;
                font-size: 20px;
                border-bottom: 3px solid black;
            }
            
            .unordered p {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                font-size: 20px;
            }
            
            .listitem {
                font-size: 15px;
                text-align: center;
                padding: 10px;
                flex-grow: 1;
            }
            
            .bottom-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: stretch;
                border-bottom: 3px solid black;
            }
            
            .photo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 170px;
                width: 170px;
                font-size: 10px;
            }
            
            figure figcaption {
                text-align: center;
            }
            
            .footer {
                display: flex;
                padding: 10px;
                justify-content: center;
            }