body {
    box-sizing: border-box;
}

.modal-dialog {
    position: fixed;
    top: 200px;
    right: 800px;
    bottom: 350px;
    left: 600px;
    width: 25%;
    border: 5px solid black;
    background-color: white;
}

.modal-header {
    position: absolute;
    font-size: 35px;
    color: white;
    height: 40px;
    width: 100%;
    background-color: gray;
}

.modal-content {
    position: absolute;
    font-size: 20px;
    width: 100%;
    top: 41px;
    left: 30px;
}

.modal-buttons {
    position: absolute;
    font-size: 10px;
    width: 100%;
    top: 130px;
    left: 30px;
}